/**
 * Vertilinear Template for BlogDraw.  Copyright © Jesse Phillips 2020.
 **/
article div img, article div video {display: block; width: 75%; margin: 0 auto;}
[class*="primary"]{background-color:#1B9AAA !important;color:#F9F9F9 !important;}
[class*="success"]{background-color:#6EDC6B !important;color:#F9F9F9 !important;}
[class*="dark"]{background-color:#393E41 !important;color:#F9F9F9 !important;}
[class*="light"]{background-color:#F9F9F9 !important;color:#393E41 !important;}
[class*="info"]{background-color:#1B9AAA !important;color:#F9F9F9 !important;}
[class*="warning"]{background-color:#FF595E !important;color:#F9F9F9 !important;}
.btn{border:none;}